body.theme2 {
  background: #e6e6e6;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #35352c;
}

.theme2 .toogles {
  background: #d1cccc;
}
.theme2 .toogles div {
  background: #ca5502;
}
.theme2 .toogles div.hidden {
  background: #d1cccc;
}
.theme2 .calculator__input {
  background-color: #ededed;
}
.theme2 .calculator__buttons {
  background: #d1cccc;
}
.theme2 .calculator__buttons button {
  background: #e5e4e1;
  box-shadow: 0px 3px 0px 0px #a69d91;
}
.theme2 .calculator__buttons .is__del,
.theme2 .calculator__buttons .is__clear {
  background: #377f86;
  color: white;
  box-shadow: 0px 3px 0px 0px #1b5f65;
}
.theme2 .calculator__buttons .is__equal {
  background: #ca5502;
  color: white;
  box-shadow: 0px 3px 0px 0px #893901;
}