body.theme1 {
  background: #3a4764;
  color: white;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 34px;
}

.theme1 .toogles {
  background: #232c43;
}
.theme1 .toogles div {
  background: #d03f2f;
}
.theme1 .toogles div.hidden {
  background: #232c43;
}
.theme1 .calculator__input input {
  background-color: #182034;
  color: white;
}
.theme1 .calculator__buttons {
  background: #232c43;
}
.theme1 .calculator__buttons button {
  background: white;
  color: #444b5a;
  box-shadow: 0px 3px 0px 0px #b4a597;
}
.theme1 .calculator__buttons .is__del,
.theme1 .calculator__buttons .is__clear {
  background: #637097;
  color: white;
  box-shadow: 0px 3px 0px 0px #404e72;
}
.theme1 .calculator__buttons .is__equal {
  background: #d03f2f;
  color: white;
  box-shadow: 0px 3px 0px 0px #93261a;
}