body.theme3 {
  background: #160628;
  color: #ffe53d;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #ffe53d;
}

.theme3 .toogles {
  background: #1d0934;
}
.theme3 .toogles div {
  background: #00e0d1;
}
.theme3 .toogles div.hidden {
  background: #1d0934;
}
.theme3 .calculator__input input {
  background-color: #1d0934;
  color: #ffe53d;
}
.theme3 .calculator__buttons {
  background: #1d0934;
}
.theme3 .calculator__buttons button {
  background: #341c4f;
  color: #ffe53d;
  box-shadow: 0px 3px 0px 0px #871c9c;
}
.theme3 .calculator__buttons .is__del,
.theme3 .calculator__buttons .is__clear {
  background: #58077d;
  color: white;
  box-shadow: 0px 3px 0px 0px #bc15f4;
}
.theme3 .calculator__buttons .is__equal {
  background: #00e0d1;
  color: #1b2428;
  box-shadow: 0px 3px 0px 0px #6cf9f2;
}
